.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
    font-size: 1rem;
    gap: 1vw;
    background-color: rgba(228, 149, 4, 0.897);
    color: rgb(240, 232, 223);
    font-weight: 700;
}
.navbar a img{
    height: 2rem;
    width: 8rem;
    cursor: pointer;
}
.navbar .srch{
    display: flex;
    gap: 2vw;
}
.navbar .srch ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    /* width: 25rem; */
}
.navbar .srchicon{
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: fit-content;
    width: max-content;
    background-color: rgb(192, 172, 133);
    padding: 1% 2%;
}
.act{
    display: none;
}
.inact{
    display: block;
}
.srchicon input{
    border: none;
    background-color: rgb(192, 172, 133);
    font-size: 1.4rem;
    max-width: 5rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.srchicon input:focus{
    outline: 0;
}
.srchicon i{
    background-color: rgb(192, 172, 133);
    font-size: 1rem;
    border-right: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    min-height: 1.7rem;
    /* padding-left: 5%; */
    padding-top: 5%;
    padding-right: 5%;
}
.active{
    display: block;
    background-color: whitesmoke;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
    padding: 2vw 0;
}
.active input{
    width: 85vw;
    font-size: 1.4rem;
    padding: 1%;
    border-radius: 20px;
    animation-name: searching;
    animation-duration: 0.4s;
    animation-direction: normal;
    margin-left: 5vw;
}
.active span{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 2vw;
}
.notactive{
    display: none;
}
@keyframes searching{
    0% {max-width: 2vw;}
    10% {max-width: 10vw;}
    20% {max-width: 20vw;}
    30% {max-width: 25vw;}
    40% {max-width: 30vw;}
    50% {max-width: 40vw;}
    60% {max-width: 48vw;}
    70% {max-width: 55vw;}
    80% {max-width: 65vw;}
    90% {max-width: 78vw;}
    100% {max-width: 85vw;}
}